@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Poppins:wght@300&family=Roboto&family=Yaldevi:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    
}

body{
    font-family: roboto, sans-serif;
    font-weight: 300;
    background-color: red;
}

header{
    background: #BF7330;
    height: 80px;
    width: 100%;
}

header a{
    
    color: inherit;
}

/* navigation links */

.nav-menu {
    float: right;
    text-transform: uppercase;
    color: white;
    
}

.nav-menu li {
    list-style-type: none;
    margin-right: 25px; 
    display: inline;
    text-align: center;
}

.nav-menu li:hover {
    color: #232126;
}

/* For smaller screen sizes from 540px and down*/
@media screen and (max-width: 540px){
    
}
