@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Poppins:wght@300&family=Roboto&family=Yaldevi:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    
}

body{
    font-family: roboto, sans-serif;
    font-weight: 300;
    
}

header{
    background: #BF7330;
    height: 80px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a{
    
    color: inherit;
}

/* logo */

.logo {
    padding-left: 25px;
    color: white;
}
/* navigation links */

.nav-menu {
    float: right;
    text-transform: uppercase;
    color: white;
    
}

.nav-menu li {
    list-style-type: none;
    margin-right: 25px; 
    display: inline;
    text-align: center;
}

.nav-menu li:hover {
    color: #232126;
}

#hero-image {
    background: url('../css/images/pexels-photo.jpg') ;
    height: 400px;
    width: 100%;
    background-size: cover;
}

/* statement */

.statement-container{
    background: yellow;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.statement-image-container {
    height: 300px;
    flex: 0 0 45vh;
    border-radius: 50%;
    border: 5px solid #BF7330;
    background: url('../css/images/pexels-chevanon-photography-302899.jpg') no-repeat center center fixed;
    background-size: 50%;
    background-position: background-position: center center;
    
    
}



.statement-text {
    background: blue;
    height: 300px;
    width: 50%;
}
/* For smaller screen sizes from 540px and down*/
@media screen and (max-width: 540px){
    
}
