
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    
}

body{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #232126;
}

 h1, h2, h3 {
    font-family: 'Caveat', cursive;
 }
 
/* header */

header a{
    color: inherit;
}

.page-heading {
    padding: 1%;
    color: #232126;
    font-size: 400%;
    text-align: center;
    
    text-shadow: 1px 1px 0 #BF7330;
    
}

/* logo & navigation bar*/
#home-page-nav-logo-container {
    background: url(../css/images/pexels-chevanon-photography-302894.jpg) no-repeat center;
    background-size: 100%;
    height: 580px;
}
#nav-logo-container{
    background: rgba(35, 33, 38, .9);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color: white;
    float:left;
    font-size: 300%;
    margin-left: 30px;
    text-shadow: 1px 3px  1px #232126;
    border: 2px;
    border-bottom: #BF7330;
    
}

.nav-menu {
    font-size: 120;
    letter-spacing: 2px;
    float: right;
}

.nav-menu a:hover {
    color: #BF7330;
    
}

.nav-menu li{
    color: white;
    float: left;
    margin-right: 30px;
    border: 2px solid #BF7330;
    border-radius: 25px;
}

.nav-menu li a {
    padding: 10px;
}

.nav-link{
    color: white;
}



.nav-logo-container-other-pages {
    display: none;
}

#cover-text-home-page-hero-image {
    color: white;
    margin-top: 15%;
    margin-left: 10%; 
    float: left;

    padding: 10px 50px 25px 50px;
    border-radius: 5px;
    background: rgba(191, 115, 48, .5);

    font-size: 200%;
}

#cover-text-home-page-hero-image h2, h3 {
    text-shadow: 1px 2px  1px #232126;
}

.subscribe-link {
    background: rgba(191, 115, 48, .7);
    padding: 10px;
    font-size: 80%;
    margin-right: 30px;
    line-height: 100px;
    border: 2px solid #232126;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 1);
}
.subscribe-link:hover {
    color: #232126;
    background: white;
    cursor: pointer;
}

/**/
.circle-container {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 4px solid #BF7330;
    background-size: 150%;   
    box-shadow: 0 3px 10px rgb(0 0 0 / 1); 
}

.hero-image {
    height: 400px;
    width: 100%;
    background-size: cover;
}

/* home page */


.statement-container{
    height: 400px;
    display: flex;
    justify-content: space-around;
    
}

#what-were-about-container {
    
    align-items: center;
}
.statement-image-container {
    height: 300px;
    width: 300px;
    display: fixed;
    border-radius: 50%;
    border: 4px solid #BF7330;  

    box-shadow: 0 3px 10px rgb(0 0 0 / 1); 
}

#home-page-statement-circle-image {
    background: url('../css/images/pexels-chevanon-photography-302899.jpg') no-repeat center;
    background-size: 150%; 
}

.statement-text h2 {
    padding-left: 12.5%;
    padding-right: 12.5%;
    padding-top: 10%;
}

.statement-text {
    height: 300px;
    width: 45%;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 1);

}

.statement-text p {
    padding: 12.5%;
    padding-top: 2%;
}
/* opening hours */

.opening-hours-container {
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #232126;
}

.opening-hours-text-container {
    height: 300px;
    width: 45%;
    border: 4px solid #BF7330;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 1);
}

.opening-hours-text-container h2 {
    color: white;
    padding-left: 12.5%;
    padding-top: 10%;
}

.opening-hours-text-container ul{
    color: white;
    padding: 12.5%;
    padding-top: 2%;
    line-height: 2em;
}



/*.opening-hours-map-container {
    height: 300px;
    flex: 0 0 45vh;
    border-radius: 50%;
    border: 4px solid #BF7330;
    background-size: 150%;   
    box-shadow: 0 3px 10px rgb(0 0 0 / 1); 
    position: relative;
}*/

 .google-map {
    overflow: hidden;
    text-align: center;
    
}
/* footer */

footer {
    height: 300px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-address {
    height: 150px;
    width: 640px;
    float: left;
    text-align: center;
    line-height: 1.5;
    padding-top: 20px;
}

.footer-address h3 {
    padding-bottom: 3%;
    font-size: 200%;
}


.footer-social-media-icons {
    height: 150px;
    width: 640px;
    float: right;
}

.social-media-icons {
    text-align: center;
    
}

.social-media-icons > li {
    display: inline;  
    align-items: center;
    font-size: 200%;
    margin: 1%;
    padding: 5%;
   
    
}

.social-media-icons i {
    color: #232126;
    padding-top: 10%;
}

.social-media-icons i:hover {
    color: #BF7330;
    transform: scale(1.2);
}

/* menu */

.menu-statement-image-container {
    height: 300px;
    flex: 0 0 45vh;
    border-radius: 50%;
    border: 4px solid #BF7330;
    background: url('../css/images/pexels-michael-burrows-7125420.jpg') no-repeat center;
    background-size: 150%;   
    box-shadow: 0 3px 10px rgb(0 0 0 / 1); 
    
}

/* menu table*/

#table-container {
    background: url("../css/images/pexels-frans-van-heerden-1022692.jpg");
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

#table-container h2 {
    color: white;
    width: 350px;

    background: rgba(35, 33, 38, .8);
    box-shadow: 0 3px 10px rgb(0 0 0 / 1);
    text-shadow: 2px 2px  2px #232126;

    border: 1px solid #BF7330;
    border-radius: 20px;
}

#table-container th {
    text-decoration: 2px underline #BF7330;
    
}

table {
    color: white;
    background: rgba(35, 33, 38, .8);
    width: 45%;
    height: 300px;
    margin: 25px;
    text-align: center;
    border: 1px solid #BF7330;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 1);
    
}

thead {
    text-align: center;
}
/* Menu ethical section */

#ethical-section-menu-page {
    height: 500px;
    display: flex;
}

.video-container {
    display: flex;
    padding-left: 50px;
    justify-content: space-around;
    align-items: center;
    
}

#text-section-menu-page {
    border-top: 2px solid #232126;
    border-bottom: 2px solid #232126;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10px 10% 10px 10%;
    line-height: 1.5;
    text-align: center;
    justify-content:center;
}

.video-container {
    background-color: white;
}

#statement-text-dark-background {
    color: white;
}

#statement-text-dark-background a {
    color: white;
}

#statement-text-dark-background a:hover {
    color: #BF7330;
}

/* gallery */

#gallery-statement-container{
    height: 400px;
    background-image: url(../css/images/pexels-david-bartus-963278.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
}

.gallery-image-container {
    
    margin: 0 auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-images {
    height: 40vh;
    padding: 1em;
    margin: 0.5em;
    border: 4px solid #BF7330;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 1);
}

#gallery-page-circle-image {
    height: 400px;
    width: 400px;
    background: url("../css/images/pexels-tim-douglas-6205461.jpg") center;
    margin: 25px;
}

/* contact page */

#hero-image-contact-page {
    background: url("../css/images/pexels-tim-douglas-6205494.jpg") center center no-repeat;
    height: 100vh;
}

.full-form-container {
    height: 80vh;
}

.sub-heading-3 {
    color: #232126;
    font-size: 300%;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #232126;
}
.inner-form-container {
    background-color: #232126;
    width: 500px;
    border: 5px solid #BF7330;
    border-radius: 10px;
    margin-top: 1%;
    
}

.form-input-feild {
    border: 1px solid #BF7330;
    border-radius: 2px;
    display: inline-block;
}

#full-name-form-container {
    width: 100%;
}

form {
    background: #232126;
    overflow: hidden;
    margin: 2%;
    text-align: left;
}

label {
    color: white;
    background-color: #232126;
    float: left;
    width: 200px;
    padding-right: 20px;
    margin-top: 10px;
}
 

input {
    background-color: white;
}

.site-button {
    padding: 1%;
    color: #232126;
    background-color: #BF7330;
    margin-top: 10px;
    width: 20%;
    border-radius: 10px;
}

.site-button:hover {
    padding: 1%;
    color: #BF7330;
    background-color: #232126;
    border: 1px solid #BF7330;
    
}

textarea {
    height: 80px;
    resize: none;
}

input, #email, textarea, label {
    
    justify-content: center;
    width: calc(100% - 200px);
    padding: 1%;
}

 

/* For smaller screen sizes from 1280px and down*/
@media screen and (max-width: 1280px){
 
    .menu-statement-image-container {
        background-size: 180%;
    }

    header {
        flex-wrap: wrap;
    }

    footer {
        height: 500px;
        flex-wrap: wrap-reverse;
        margin-bottom: 50px;
    }
}
/* For smaller screen sizes from 991px and down*/
@media screen and (max-width: 991px){
    .navbar-collapse {
        width: 10px;
    }

    .nav-menu li{
        color: white;
        float: right;
        margin-right: 0;
    }
    
}
/* For smaller screen sizes from 860px and down*/
@media screen and (max-width: 860px){

    .statement-container {
        height: 500px;
    }

    .statement-text {
        height: 400px;
        width: 300px;
    }

    table {
        width: 400px;
    }

    .gallery-images {
        height: 20vh;
        padding: .5em;
    }

    /* Home page hero image */
    #home-page-nav-logo-container {
       position: relative;
       height: 500px;
    }
/* For smaller screen sizes from 640px and down*/
@media screen and (max-width: 640px){

    /* Subcribe overlay home page */
    #cover-text-home-page-hero-image {
        margin-top: 2px;
        margin-left: 5%; 
        padding: 5px 25px 12.5px 25px;
    }


    /* Home page hero image */
    #home-page-nav-logo-container {
        position: relative;
        height: 300px;
     }

    .statement-container, .opening-hours-container {
        flex-wrap: wrap;
        margin: 3%;
        height: 800px;
    }

    .opening-hours-container {
        width: 100%;
    }

    .footer-address {
        width: 100%;
    }

    #table-container {
        height: 700px;
        display: flex;
        flex-wrap: wrap;
    }

    .page-heading {
        font-size: 250%;
    }

    .gallery-images {
        height: 15vh;
    }
    
}

/* For smaller screen sizes from 440px and down*/
@media screen and (max-width: 440px){

    footer {
        height: 600px;
    }

        /* Subcribe overlay home page */
        #cover-text-home-page-hero-image {
            display: none;
        }

        /*statement container*/
        .statement-container {
            height: 900px;
        }

        .statement-text {
            height: 450px;
        }
}
}